.container {
  display: inline-flex;
  align-items: center;
  padding-right: 0px;
  min-width: fit-content;
}

.container input {
  display: inline;
  flex-grow: 1;
  padding: 0px;
  width: 50%;
}

.container button {
  align-self: self-end;
  aspect-ratio: 1 / 1;
}

.container button img {
  height: 60%;
  aspect-ratio: 1 / 1;
}