# Создайте файл .env в этой папке и заполните значения
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3000
HTTPS=false # В production =true
PORT=3050
DATABASE_URL=postgresql://DB_USER:DB_PASSWORD@DB_HOST:DB_PORT/DB_NAME