.topics-div {
  display: flex;
  flex-direction: column;

  margin: 0px 10px 10px 10px;
  text-align: center;
  text-justify: center;
}

.topics-div h2 {
  margin: 0px;
}

/* Список тем */
.topics-div ul {
  list-style-type: none;
  padding: 0px;
  margin: 15px 0px 0px 0px;

  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.topics-div ul li {
  word-break: break-word;
  overflow: hidden;
}

.topics-div ul li a {
  display: block;

  padding: 15px;

  font-size: 1.17em;
  font-weight: bold;
}